.editable-text {
    cursor: pointer;
}

h1{
    border: 6px solid cyan;
    text-shadow: 2px 2px 4px rgb(61, 61, 61,.8);
    font-style: bold;
    background-color: rgba(103, 245, 255, 0.5);
    border-radius: 100%;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}